.link {
  color: black;
  font-size: 18px;
  text-decoration: none;
}
.nav {
  display: flex;
  gap: 20px;
}
.active {
  color: red;
  text-decoration: underline;
}

.container {
  padding: 15px;
  padding-left: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
